In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder
# conda install -c conda-forge mlxtend

In [2]:
titanic = pd.read_csv("D:/ExcelR/Association Rules/book.csv")
titanic.head()

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0

In [3]:
#Pre-Processing
#As the data is not in transaction formation We are using transaction Encoder
df=pd.get_dummies(titanic)
df.head()

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0

In [8]:
#Apriori Algorithm

In [4]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

    support                       itemsets
0    0.4230                     (ChildBks)
1    0.2475                     (YouthBks)
2    0.4310                      (CookBks)
3    0.2820                     (DoItYBks)
4    0.2145                       (RefBks)
5    0.2410                       (ArtBks)
6    0.2760                      (GeogBks)
7    0.1135                     (ItalCook)
8    0.1085                     (Florence)
9    0.1650           (ChildBks, YouthBks)
10   0.2560            (CookBks, ChildBks)
11   0.1840           (ChildBks, DoItYBks)
12   0.1515             (RefBks, ChildBks)
13   0.1625             (ChildBks, ArtBks)
14   0.1950            (GeogBks, ChildBks)
15   0.1620            (CookBks, YouthBks)
16   0.1155           (YouthBks, DoItYBks)
17   0.1010             (YouthBks, ArtBks)
18   0.1205            (GeogBks, YouthBks)
19   0.1875            (CookBks, DoItYBks)
20   0.1525              (RefBks, CookBks)
21   0.1670              (CookBks, ArtBks)
22   0.1925             (GeogBks, CookBks)
23   0.1135            (CookBks, ItalCook)
24   0.1055             (RefBks, DoItYBks)
25   0.1235             (DoItYBks, ArtBks)
26   0.1325            (GeogBks, DoItYBks)
27   0.1105              (RefBks, GeogBks)
28   0.1275              (GeogBks, ArtBks)
29   0.1290  (CookBks, ChildBks, YouthBks)
30   0.1460  (CookBks, ChildBks, DoItYBks)
31   0.1225    (RefBks, CookBks, ChildBks)
32   0.1265    (CookBks, ChildBks, ArtBks)
33   0.1495   (GeogBks, CookBks, ChildBks)
34   0.1045  (GeogBks, ChildBks, DoItYBks)
35   0.1020    (GeogBks, ChildBks, ArtBks)
36   0.1015    (CookBks, DoItYBks, ArtBks)
37   0.1085   (GeogBks, CookBks, DoItYBks)
38   0.1035     (GeogBks, CookBks, ArtBks)

In [5]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ChildBks),(YouthBks),0.4230,0.2475,0.1650,0.390071,1.576044,0.060308,1.233750
1,(YouthBks),(ChildBks),0.2475,0.4230,0.1650,0.666667,1.576044,0.060308,1.731000
2,(CookBks),(ChildBks),0.4310,0.4230,0.2560,0.593968,1.404179,0.073687,1.421069
3,(ChildBks),(CookBks),0.4230,0.4310,0.2560,0.605201,1.404179,0.073687,1.441240
4,(ChildBks),(DoItYBks),0.4230,0.2820,0.1840,0.434988,1.542511,0.064714,1.270770
...,...,...,...,...,...,...,...,...,...
95,"(GeogBks, ArtBks)",(CookBks),0.1275,0.4310,0.1035,0.811765,1.883445,0.048547,3.022812
96,"(CookBks, ArtBks)",(GeogBks),0.1670,0.2760,0.1035,0.619760,2.245509,0.057408,1.904063
97,(GeogBks),"(CookBks, ArtBks)",0.2760,0.1670,0.1035,0.375000,2.245509,0.057408,1.332800
98,(CookBks),"(GeogBks, ArtBks)",0.4310,0.1275,0.1035,0.240139,1.883445,0.048547,1.148237
99,(ArtBks),"(GeogBks, CookBks)",0.2410,0.1925,0.1035,0.429461,2.230964,0.057107,1.415327

In [13]:
#An leverage value of 0 indicates independence. Range will be [-1 1]
#A high conviction value means that the consequent is highly depending on the antecedent and range [0 inf]

In [6]:
rules.sort_values('lift',ascending = False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
28,(CookBks),(ItalCook),0.4310,0.1135,0.1135,0.263341,2.320186,0.064582,1.203406
29,(ItalCook),(CookBks),0.1135,0.4310,0.1135,1.000000,2.320186,0.064582,inf
78,"(ChildBks, ArtBks)",(GeogBks),0.1625,0.2760,0.1020,0.627692,2.274247,0.057150,1.944628
79,(GeogBks),"(ChildBks, ArtBks)",0.2760,0.1625,0.1020,0.369565,2.274247,0.057150,1.328448
87,(ArtBks),"(CookBks, DoItYBks)",0.2410,0.1875,0.1015,0.421162,2.246196,0.056313,1.403674
82,"(CookBks, DoItYBks)",(ArtBks),0.1875,0.2410,0.1015,0.541333,2.246196,0.056313,1.654797
97,(GeogBks),"(CookBks, ArtBks)",0.2760,0.1670,0.1035,0.375000,2.245509,0.057408,1.332800
96,"(CookBks, ArtBks)",(GeogBks),0.1670,0.2760,0.1035,0.619760,2.245509,0.057408,1.904063
99,(ArtBks),"(GeogBks, CookBks)",0.2410,0.1925,0.1035,0.429461,2.230964,0.057107,1.415327
94,"(GeogBks, CookBks)",(ArtBks),0.1925,0.2410,0.1035,0.537662,2.230964,0.057107,1.641657
54,"(CookBks, ChildBks)",(RefBks),0.2560,0.2145,0.1225,0.478516,2.230842,0.067588,1.506277
55,(RefBks),"(CookBks, ChildBks)",0.2145,0.2560,0.1225,0.571096,2.230842,0.067588,1.734652
76,"(GeogBks, ChildBks)",(ArtBks),0.1950,0.2410,0.1020,0.523077,2.170444,0.055005,1.591452
81,(ArtBks),"(GeogBks, ChildBks)",0.2410,0.1950,0.1020,0.423237,2.170444,0.055005,1.395719
86,(DoItYBks),"(CookBks, ArtBks)",0.2820,0.1670,0.1015,0.359929,2.155264,0.054406,1.301418
83,"(CookBks, ArtBks)",(DoItYBks),0.1670,0.2820,0.1015,0.607784,2.155264,0.054406,1.830626
67,(GeogBks),"(CookBks, ChildBks)",0.2760,0.2560,0.1495,0.541667,2.115885,0.078844,1.623273
66,"(CookBks, ChildBks)",(GeogBks),0.2560,0.2760,0.1495,0.583984,2.115885,0.078844,1.740319
91,(GeogBks),"(CookBks, DoItYBks)",0.2760,0.1875,0.1085,0.393116,2.096618,0.056750,1.338806
90,"(CookBks, DoItYBks)",(GeogBks),0.1875,0.2760,0.1085,0.578667,2.096618,0.056750,1.718354

In [7]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ChildBks),(YouthBks),0.4230,0.2475,0.1650,0.390071,1.576044,0.060308,1.233750
1,(YouthBks),(ChildBks),0.2475,0.4230,0.1650,0.666667,1.576044,0.060308,1.731000
2,(CookBks),(ChildBks),0.4310,0.4230,0.2560,0.593968,1.404179,0.073687,1.421069
3,(ChildBks),(CookBks),0.4230,0.4310,0.2560,0.605201,1.404179,0.073687,1.441240
4,(ChildBks),(DoItYBks),0.4230,0.2820,0.1840,0.434988,1.542511,0.064714,1.270770
...,...,...,...,...,...,...,...,...,...
95,"(GeogBks, ArtBks)",(CookBks),0.1275,0.4310,0.1035,0.811765,1.883445,0.048547,3.022812
96,"(CookBks, ArtBks)",(GeogBks),0.1670,0.2760,0.1035,0.619760,2.245509,0.057408,1.904063
97,(GeogBks),"(CookBks, ArtBks)",0.2760,0.1670,0.1035,0.375000,2.245509,0.057408,1.332800
98,(CookBks),"(GeogBks, ArtBks)",0.4310,0.1275,0.1035,0.240139,1.883445,0.048547,1.148237
99,(ArtBks),"(GeogBks, CookBks)",0.2410,0.1925,0.1035,0.429461,2.230964,0.057107,1.415327

In [15]:
groceries = pd.read_csv("D:/ExcelR/Association Rules/groceries1.csv", error_bad_lines=False)
groceries.head()

,citrus fruit,semi-finished bread,margarine,ready soups,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,whole milk,butter,yogurt,rice,abrasive cleaner,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df=pd.get_dummies(groceries)
df.head()

,citrus fruit_Instant food products,citrus fruit_UHT-milk,citrus fruit_abrasive cleaner,citrus fruit_artif. sweetener,citrus fruit_baby cosmetics,citrus fruit_bags,citrus fruit_baking powder,citrus fruit_bathroom cleaner,citrus fruit_beef,citrus fruit_berries,...,Unnamed: 27_chocolate,Unnamed: 27_hygiene articles,Unnamed: 27_napkins,Unnamed: 27_sugar,Unnamed: 28_cooking chocolate,Unnamed: 28_house keeping products,Unnamed: 28_soups,Unnamed: 29_skin care,Unnamed: 30_hygiene articles,Unnamed: 31_candles
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

Empty DataFrame
Columns: [support, itemsets]
Index: []

In [22]:
#rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.7)
#rules
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

yourdataset_sets = df.applymap(encode_units)

frequent_itemsets = apriori(df, min_support=0.001, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)

In [23]:
rules.sort_values('lift',ascending = False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
3367,"(Unnamed: 5_other vegetables, margarine_tropic...","(Unnamed: 6_whole milk, ready soups_pip fruit)",0.001830,0.001424,0.001017,0.555556,390.238095,0.001014,2.246797
3370,"(Unnamed: 6_whole milk, ready soups_pip fruit)","(Unnamed: 5_other vegetables, margarine_tropic...",0.001424,0.001830,0.001017,0.714286,390.238095,0.001014,3.493594
3369,"(Unnamed: 6_whole milk, margarine_tropical fruit)","(Unnamed: 5_other vegetables, ready soups_pip ...",0.001627,0.001627,0.001017,0.625000,384.140625,0.001014,2.662328
3368,"(Unnamed: 5_other vegetables, ready soups_pip ...","(Unnamed: 6_whole milk, margarine_tropical fruit)",0.001627,0.001627,0.001017,0.625000,384.140625,0.001014,2.662328
3331,(Unnamed: 6_other vegetables),"(Unnamed: 5_root vegetables, Unnamed: 7_whole ...",0.002644,0.001322,0.001017,0.384615,290.946746,0.001013,1.622852
3333,(Unnamed: 7_whole milk),"(Unnamed: 6_other vegetables, Unnamed: 5_root ...",0.002644,0.001322,0.001017,0.384615,290.946746,0.001013,1.622852
3328,"(Unnamed: 6_other vegetables, Unnamed: 5_root ...",(Unnamed: 7_whole milk),0.001322,0.002644,0.001017,0.769231,290.946746,0.001013,4.321876
3330,"(Unnamed: 5_root vegetables, Unnamed: 7_whole ...",(Unnamed: 6_other vegetables),0.001322,0.002644,0.001017,0.769231,290.946746,0.001013,4.321876
3249,(Unnamed: 4_onions),"(Unnamed: 5_other vegetables, ready soups_root...",0.002135,0.001830,0.001119,0.523810,286.174603,0.001115,2.096156
3244,"(Unnamed: 5_other vegetables, ready soups_root...",(Unnamed: 4_onions),0.001830,0.002135,0.001119,0.611111,286.174603,0.001115,2.565937
3329,"(Unnamed: 6_other vegetables, Unnamed: 7_whole...",(Unnamed: 5_root vegetables),0.001627,0.002542,0.001017,0.625000,245.850000,0.001013,2.659887
3332,(Unnamed: 5_root vegetables),"(Unnamed: 6_other vegetables, Unnamed: 7_whole...",0.002542,0.001627,0.001017,0.400000,245.850000,0.001013,1.663955
2345,(Unnamed: 13_fruit/vegetable juice),(Unnamed: 12_soda),0.001729,0.002441,0.001017,0.588235,241.029412,0.001013,2.422644
2344,(Unnamed: 12_soda),(Unnamed: 13_fruit/vegetable juice),0.002441,0.001729,0.001017,0.416667,241.029412,0.001013,1.711322
2315,(Unnamed: 7_whole milk),(Unnamed: 6_other vegetables),0.002644,0.002644,0.001627,0.615385,232.757396,0.001620,2.593126
2314,(Unnamed: 6_other vegetables),(Unnamed: 7_whole milk),0.002644,0.002644,0.001627,0.615385,232.757396,0.001620,2.593126
3327,(Unnamed: 6_whole milk),"(Unnamed: 5_other vegetables, Unnamed: 7_butter)",0.004983,0.001017,0.001017,0.204082,200.693878,0.001012,1.255133
3322,"(Unnamed: 5_other vegetables, Unnamed: 7_butter)",(Unnamed: 6_whole milk),0.001017,0.004983,0.001017,1.000000,200.693878,0.001012,inf
2285,(Unnamed: 7_whole milk),(Unnamed: 5_root vegetables),0.002644,0.002542,0.001322,0.500000,196.680000,0.001315,1.994916
2282,(Unnamed: 6_other vegetables),(Unnamed: 5_root vegetables),0.002644,0.002542,0.001322,0.500000,196.680000,0.001315,1.994916

In [24]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(citrus fruit_beef),(semi-finished bread_citrus fruit),0.030913,0.024405,0.004881,0.157895,6.469737,0.004127,1.158519
1,(semi-finished bread_citrus fruit),(citrus fruit_beef),0.024405,0.030913,0.004881,0.200000,6.469737,0.004127,1.211359
2,(semi-finished bread_hamburger meat),(citrus fruit_beef),0.011694,0.030913,0.001729,0.147826,4.781979,0.001367,1.137194
3,(citrus fruit_beef),(semi-finished bread_hamburger meat),0.030913,0.011694,0.001729,0.055921,4.781979,0.001367,1.046847
4,(semi-finished bread_other vegetables),(citrus fruit_beef),0.055928,0.030913,0.003254,0.058182,1.882105,0.001525,1.028953
...,...,...,...,...,...,...,...,...,...
3371,"(margarine_tropical fruit, ready soups_pip fruit)","(Unnamed: 5_other vegetables, Unnamed: 6_whole...",0.004271,0.004068,0.001017,0.238095,58.535714,0.001000,1.307161
3372,(Unnamed: 5_other vegetables),"(ready soups_pip fruit, Unnamed: 6_whole milk,...",0.006915,0.001017,0.001017,0.147059,144.617647,0.001010,1.171222
3373,(Unnamed: 6_whole milk),"(Unnamed: 5_other vegetables, margarine_tropic...",0.004983,0.001119,0.001017,0.204082,182.448980,0.001011,1.255005
3374,(margarine_tropical fruit),"(Unnamed: 5_other vegetables, Unnamed: 6_whole...",0.014541,0.001322,0.001017,0.069930,52.899408,0.000998,1.073767
3375,(ready soups_pip fruit),"(Unnamed: 5_other vegetables, Unnamed: 6_whole...",0.007322,0.001525,0.001017,0.138889,91.055556,0.001006,1.159519

In [25]:
movies = pd.read_csv("D:/ExcelR/Association Rules/my_movies.csv")
movies.head()

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0

In [26]:
df=pd.get_dummies(movies)
df.head()

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,...,V2_LOTR,V2_LOTR1,V2_LOTR2,V2_Patriot,V3_Braveheart,V3_Gladiator,V3_Harry Potter1,V3_Sixth Sense,V4_Green Mile,V5_LOTR2
0,1,0,1,1,0,1,0,0,0,1,...,0,1,0,0,0,0,1,0,1,1
1,0,1,0,0,1,0,0,0,1,0,...,0,0,0,1,1,0,0,0,0,0
2,0,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0

In [27]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

      support                                           itemsets
0         0.6                                      (Sixth Sense)
1         0.7                                        (Gladiator)
2         0.2                                            (LOTR1)
3         0.2                                    (Harry Potter1)
4         0.6                                          (Patriot)
...       ...                                                ...
1392      0.1  (Harry Potter1, V5_LOTR2, Green Mile, V4_Green...
1393      0.1  (V5_LOTR2, LOTR2, Green Mile, V4_Green Mile, L...
1394      0.1  (Harry Potter1, V5_LOTR2, LOTR2, Green Mile, V...
1395      0.1  (Harry Potter1, V5_LOTR2, LOTR2, Green Mile, V...
1396      0.1  (Harry Potter1, V5_LOTR2, LOTR2, Green Mile, V...

[1397 rows x 2 columns]

In [28]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
1,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
2,(Sixth Sense),(LOTR1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
3,(LOTR1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
4,(Harry Potter1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
...,...,...,...,...,...,...,...,...,...
64247,(LOTR1),"(Harry Potter1, V5_LOTR2, LOTR2, Green Mile, V...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64248,(V1_Sixth Sense),"(Harry Potter1, V5_LOTR2, LOTR2, Green Mile, V...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64249,(V2_LOTR1),"(Harry Potter1, V5_LOTR2, LOTR2, Green Mile, V...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64250,(V3_Harry Potter1),"(Harry Potter1, V5_LOTR2, LOTR2, Green Mile, V...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64251,(Sixth Sense),"(Harry Potter1, V5_LOTR2, LOTR2, Green Mile, V...",0.6,0.1,0.1,0.166667,1.666667,0.04,1.08

In [29]:
rules.sort_values('lift',ascending = False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
32126,"(Harry Potter1, LOTR1, V3_Harry Potter1, Green...","(V5_LOTR2, Sixth Sense, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
40479,"(V5_LOTR2, Sixth Sense, Green Mile)","(Harry Potter1, V4_Green Mile, V1_Sixth Sense,...",0.1,0.1,0.1,1.0,10.0,0.09,inf
40451,"(V5_LOTR2, Sixth Sense, V3_Harry Potter1, Gree...","(Harry Potter1, V4_Green Mile, V1_Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf
40452,"(V5_LOTR2, V4_Green Mile, V1_Sixth Sense, V3_H...","(Harry Potter1, Sixth Sense, Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
40453,"(V5_LOTR2, V4_Green Mile, Sixth Sense, V1_Sixt...","(Harry Potter1, V3_Harry Potter1, Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
40454,"(V5_LOTR2, V4_Green Mile, Sixth Sense, V3_Harr...","(Harry Potter1, V1_Sixth Sense, Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
40455,"(V5_LOTR2, Sixth Sense, V1_Sixth Sense, V3_Har...","(Harry Potter1, V4_Green Mile, Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
40456,"(V4_Green Mile, V1_Sixth Sense, V3_Harry Potte...","(Harry Potter1, V5_LOTR2, Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf
40458,"(V4_Green Mile, Sixth Sense, V3_Harry Potter1,...","(Harry Potter1, V5_LOTR2, V1_Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf
40459,"(Sixth Sense, V1_Sixth Sense, V3_Harry Potter1...","(Harry Potter1, V5_LOTR2, V4_Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
40460,"(V4_Green Mile, Sixth Sense, V1_Sixth Sense, V...","(Harry Potter1, V5_LOTR2, Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
40461,"(Harry Potter1, V5_LOTR2, Green Mile)","(V4_Green Mile, Sixth Sense, V1_Sixth Sense, V...",0.1,0.1,0.1,1.0,10.0,0.09,inf
40462,"(Harry Potter1, V5_LOTR2, V4_Green Mile)","(Sixth Sense, V1_Sixth Sense, V3_Harry Potter1...",0.1,0.1,0.1,1.0,10.0,0.09,inf
40463,"(Harry Potter1, V5_LOTR2, V1_Sixth Sense)","(V4_Green Mile, Sixth Sense, V3_Harry Potter1,...",0.1,0.1,0.1,1.0,10.0,0.09,inf
40465,"(Harry Potter1, V5_LOTR2, Sixth Sense)","(V4_Green Mile, V1_Sixth Sense, V3_Harry Potte...",0.1,0.1,0.1,1.0,10.0,0.09,inf
40466,"(Harry Potter1, V4_Green Mile, Green Mile)","(V5_LOTR2, Sixth Sense, V1_Sixth Sense, V3_Har...",0.1,0.1,0.1,1.0,10.0,0.09,inf
40467,"(Harry Potter1, V1_Sixth Sense, Green Mile)","(V5_LOTR2, V4_Green Mile, Sixth Sense, V3_Harr...",0.1,0.1,0.1,1.0,10.0,0.09,inf
40468,"(Harry Potter1, V3_Harry Potter1, Green Mile)","(V5_LOTR2, V4_Green Mile, Sixth Sense, V1_Sixt...",0.1,0.1,0.1,1.0,10.0,0.09,inf
40469,"(Harry Potter1, Sixth Sense, Green Mile)","(V5_LOTR2, V4_Green Mile, V1_Sixth Sense, V3_H...",0.1,0.1,0.1,1.0,10.0,0.09,inf
40470,"(Harry Potter1, V4_Green Mile, V1_Sixth Sense)","(V5_LOTR2, Sixth Sense, V3_Harry Potter1, Gree...",0.1,0.1,0.1,1.0,10.0,0.09,inf

In [30]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
1,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
6,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
7,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
10,(LOTR),(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
...,...,...,...,...,...,...,...,...,...
64247,(LOTR1),"(Harry Potter1, V5_LOTR2, LOTR2, Green Mile, V...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64248,(V1_Sixth Sense),"(Harry Potter1, V5_LOTR2, LOTR2, Green Mile, V...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64249,(V2_LOTR1),"(Harry Potter1, V5_LOTR2, LOTR2, Green Mile, V...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64250,(V3_Harry Potter1),"(Harry Potter1, V5_LOTR2, LOTR2, Green Mile, V...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64251,(Sixth Sense),"(Harry Potter1, V5_LOTR2, LOTR2, Green Mile, V...",0.6,0.1,0.1,0.166667,1.666667,0.04,1.08